LeetCode #595 Big Countries

In [5]:
!pip install pyspark
import pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [17]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("My Test").getOrCreate()

In [20]:

a_schema=["name","continent","area","population","gdp"]
a_data=[
    ("Afghanistan", "Asia", 652230, 25500100, 20343000000),
    ("Albania", "Europe", 28748, 2831741, 12960000000),
    ("Algeria", "Africa", 2381741, 37100000, 188681000000),
    ("Andorra", "Europe", 468, 78115, 3712000000),
    ("Angola", "Africa", 1246700, 20609294, 100990000000)
]

In [21]:
df=spark.createDataFrame(schema=a_schema,data=a_data)
df

DataFrame[name: string, continent: string, area: bigint, population: bigint, gdp: bigint]

In [23]:
display(df)
df.show()

DataFrame[name: string, continent: string, area: bigint, population: bigint, gdp: bigint]

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [28]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("World")
#SQL
result = spark.sql("SELECT name, population,area FROM World WHERE population >= 25000000 OR area>=3000000 ")
result.show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+